.titre{
    -fx-font-size: 20;
    -fx-font-family : Impact;
    -fx-text-fill:#FFFDE4;
}

.champ
{
    /*Pour les labels*/
    -fx-font-size: 15;
    -fx-font-family : Lucida Sans Unicode;
 }

.etoile
{
    /*Pour les champs requis*/
    -fx-font-size: 35;
    -fx-font-family : Lucida Sans Unicode;
    -fx-text-fill : white;
 }

 .message_erreur
 {
     /*Pour les champs requis*/
     -fx-font-size: 15;
     -fx-font-family : Lucida Sans Unicode;
     -fx-text-fill : white;
  }

.fond
{
     /* Couleur de fond de la fenêtre*/
     -fx-background-color:linear-gradient(#2193b0, #6dd5ed);
}